/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------end of css reset-----------------------------*/

body{
    background-color: rgb(6, 1, 28);
    width: 100%;
}

h1{
    font-family: "Dancing Script",cursive;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;
}

.bigBold{
    font-weight: 800;
}

nav{
   width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
align-items: center;
padding-bottom: 5em;
}

nav ul, a{
    list-style-type: none;
    text-decoration: none;
    font-weight:0;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    padding: 1em;
}

.btn-box{
    background-color: rgba(5, 5, 59, 0.169);
    border-radius: 1em;
    border: 0.1em solid black;
    padding: 1em 1.5em ;
    
}

#profile-photo-card{
    border-radius: 10em;
    width: 18em;
    height: 18em;
    overflow: hidden;
}

h2{
   font-weight: 600;
    font-size: 3em;
}
p{
    font-size: 1.5em;
}
.maincard{
    margin-top: 10em;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    background-color: rgba(129, 133, 142, 0.448);
    width: 80em;
    margin:10em auto;
    border-radius: 4em;
    padding: 5em;
}


.textcard {
    width: 50em;
    color: white;
}

.textcard h2, .textcard p {
margin: 1em;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }